# Life table sampling
To use existing pipeline we sample 20,000 individuals out of existing life tables for cats and humans

In [4]:
%load_ext autoreload
%autoreload 2
from SRtools import life_table as lt
from SRtools import deathTimesDataSet as dtds
import matplotlib.pyplot as plt

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [5]:
#Cats
table_path = 'Lifetables/cats.csv'
dataset_path = 'cleaned_datasets/Cats.csv'
tabel=lt.Life_table.from_file(table_path,npeople =20000)
tabel.toCsv(file_name = dataset_path, dt=0.5)

In [6]:
#Denmark Females 1900
path = 'Lifetables/fltcoh_1x1_denmark.txt'
dataset_path = 'cleaned_datasets/Denmark_F_1900.csv'
tabel=lt.Life_table.from_file(path,year =1900)
tabel.toCsv(file_name = dataset_path, dt=0.5)

In [7]:
#Denmark Females 1890
path = 'Lifetables/fltcoh_1x1_denmark.txt'
dataset_path = 'cleaned_datasets/Denmark_F_1890.csv'
tabel=lt.Life_table.from_file(path,year =1890)
tabel.toCsv(file_name = dataset_path, dt=0.5)

In [8]:
#Denmark Males 1900
path = 'Lifetables/mltcoh_1x1_denmark.txt'
dataset_path = 'cleaned_datasets/Denmark_M_1900.csv'
tabel=lt.Life_table.from_file(path,year =1900)
tabel.toCsv(file_name = dataset_path, dt=0.5)

In [9]:
#Denmark Males 1890
path = 'Lifetables/mltcoh_1x1_denmark.txt'
dataset_path = 'cleaned_datasets/Denmark_M_1890.csv'
tabel=lt.Life_table.from_file(path,year =1890)
tabel.toCsv(file_name = dataset_path, dt=0.5)

In [10]:
#Sweden Females 1910
path = 'Lifetables/mltcoh_1x1_sweden_F.txt'
dataset_path = 'cleaned_datasets/Sweden_F_1910.csv'
tabel=lt.Life_table.from_file(path,year =1910)
tabel.toCsv(file_name = dataset_path, dt=0.5)

In [11]:
#Sweden Males 1910
path = 'Lifetables/mltcoh_1x1_sweden_M.txt'
dataset_path = 'cleaned_datasets/Sweden_M_1910.csv'
tabel=lt.Life_table.from_file(path,year =1910)
tabel.toCsv(file_name = dataset_path, dt=0.5)